{% extends 'layouts/layout-base.html' %}


{% block title %} Data {% endblock title %}
{% block contentheader %}Data{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}
{% block tools %}
<a class="btn btn-primary " href="" role="button">Tambah</a>
{% endblock tools %}

{% block content %}

<!-- Hoverable rows start -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="table-responsive table-sm">
            <table class="table table-bordered table-hover mb-0" id="table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Text</th>
                  <th>Description</th>
                  <th>Data</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(result, index) in results">
                  <td class="text-bold-500">[[result.id ]] </td>
                  <td>[[ result.text ]]</td>
                  <td>[[ result.desc ]]</td>
                  <td>[[ result.data ]]</td>
                  <td>
                    <button type="button" name="bEdit" id="bEdit" class="btn btn-tool btn-lg">
                      <i data-feather="edit-1"></i>Edit
                    </button>
                    <button type="button" name="bEdit" id="bEdit" class="btn btn-tool btn-lg ">
                      <i data-feather="trash"></i>Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
  // const url = "https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC,ETH&tsyms=USD,EUR";
  const url = "{{ url_for('api_blueprint.data_api', _external=True) }}";

  const vm = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      results: [],
      isLoading: true
    },
    created: function () {},
    async mounted() {

      const {
        data
      } = await axios.get(url)

      this.results = [...data];

    }
  });
</script>
<script src="{{ url_for('static',  filename='assets/js/table.js')}}"></script>

{% endblock javascripts %}