<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    SIPTA - {% block title %} {% endblock %}
  </title>

  <script src="{{ url_for('static', filename='assets/js/feather.min.js') }}"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='assets/css/adminlte.min.css') }}">
  <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='assets/css/datatables.min.css') }}">
 

  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="hold-transition sidebar-mini layout-footer-fixed layout-sidebar-fixed ">
  <div class="wrapper" id="app">

    {% include "includes/navigation.html" %}

    {% include "includes/sidenav.html" %}

    <div class="content-wrapper">

      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 py-1 px-2">
              <h4 class="m-0 align-middle">{% block contentheader %} {% endblock %}</h4>
            </div>
            <div class="col-sm-6 align-right">
              <div class="float-right">
                {% block tools %} {% endblock %}</div>
            </div>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="container-fluid"> 
          {% block content %}{% endblock content %} 
        </div>

      </section>
    </div>
    {% include 'includes/footer.html' %}
  </div>

  {% include "includes/scripts.html" %}

  {% block javascripts %}{% endblock javascripts %}
</body>

</html>