{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Error 404 {% endblock title %}
 
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div id="error">

  <div class="container text-center pt-32">
    <h1 class='error-title'>404</h1>
    <p>we couldn't find the page you are looking for</p>
    <a href="index.html" class='btn btn-primary'>Kembali</a>
  </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}