{% extends 'layouts/layout-base-full.html' %}

{% block title %} Error 404 {% endblock title %}
 
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div id="error">

  <div class="container text-center pt-32">
    <h1 class='error-title'>500</h1>
    <p>Error system. Please contact administrator.</p>
    <a href="index.html" class='btn btn-primary'>Kembali</a>
  </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}