{% extends 'layouts/layout-base.html' %}


{% block title %}{{_('Settings')}}{% endblock title %}

{% block contentheader %}{{_('Settings')}}{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">

          <h3 class="profile-username text-center">{{current_user.username}}</h3>
          <h3 class="profile-username text-center">{{current_user.fullname}}</h3>
          <p class="text-muted text-center">{{current_user.email}}</p>


        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- About Me Box -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Summary</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <i data-feather="book"></i> <strong> Bio</strong>

          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        

          <hr>
 
          <strong><i data-feather="file"></i>Notes</strong>

          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        </div> 
      </div> 
    </div> 
    <div class="col-md-9">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
            <li class="nav-item"><a class="nav-link" href="#profile" data-toggle="tab">Profile</a></li>
            <li class="nav-item"><a class="nav-link active" href="#authentication" data-toggle="tab">Authentication</a></li>
          </ul>
        </div> 
        <div class="card-body">
          
          <div class="tab-content">

            <div class="tab-pane" id="settings">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label for="inputLanguage" class="col-sm-2 col-form-label">Language</label>
                  
                  <div class="col-sm-10">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-light">
                        <input class="btn-check" checked="" id="lang-0" name="is_admin" type="radio" value="user"> English
                      </label>
                      <label class="btn btn-light active">
                        <input class="btn-check " id="lang-1" name="is_admin" type="radio" value="admin"> Indonesian
                      </label> 
                    </div>   
                  </div>
                </div>

              </form>
              
            </div>

            <div class="tab-pane" id="profile">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsername" value="{{current_user.username}}" placeholder="Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" value="{{current_user.email}}" placeholder="Email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputFullname" class="col-sm-2 col-form-label">Full Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputFullname" value="{{current_user.fullname}}"  placeholder="Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputExperience" class="col-sm-2 col-form-label">Bio</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                  </div>
                </div>
                
                 
                <div class="form-group row">
                  <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-light">Submit</button>
                  </div>
                </div>
              </form>
            </div> 
            <div class="active tab-pane" id="authentication">
              <div class="form-horizontal">
                <div class="form-group row">
                  <label for="inputCurrPassword" class="col-sm-2 col-form-label">Current Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputCurrPassword" placeholder="Current Password">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputCurrPassword" class="col-sm-2 col-form-label">New Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputCurrPassword" placeholder="New Password">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputCurrPassword" class="col-sm-2 col-form-label">Retype New Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputCurrPassword" placeholder="Retype New Password">
                  </div>
                </div>

              </div>
             
            </div> 

            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div><!-- /.card-body -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div><!-- /.container-fluid -->

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}


{% endblock javascripts %}