{% extends 'layouts/layout-base.html' %}


{% block title %} Features {% endblock title %}
{% block contentheader %}Features{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}
{% block tools %}
<a class="btn btn-light" href="{{ url_for('admin_blueprint.inputs_create') }}" role="button">
  <i data-feather="download"></i>
</a>
<a class="btn btn-light" href="{{ url_for('admin_blueprint.inputs_create') }}" role="button">
  <i data-feather="upload"></i>
</a>
<a class="btn btn-success " href="{{ url_for('admin_blueprint.inputs_create') }}" role="button">Add Feature</a>
{% endblock tools %}

{% block content %}

<!-- Hoverable rows start -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body p-0 border-0">
          <div class="table-responsive table-sm border-0" style="min-height: 65vh;">
            <table class="table border-0 table-hover " id="table">
              <thead class="">
                <tr>
                  <th class="text-center align-middle p-0 m-0" width="30">
                    <input type="checkbox" v-model="selectAll">
                  </th>
                  <th>No</th>
                  <th>Text</th>
                  <th>Description</th>
                  <th>Data</th>
                  <th width="30">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(result, index) in results" :key="index" :value="result.id">
                  <td  class="text-center align-middle p-0 m-0"><input type="checkbox" v-model="selected"
                      :value="result.id" number></td>
                  <td>[[ result.id ]] </td>
                  <td>[[ result.text ]]</td>
                  <td>[[ result.desc ]]</td>
                  <td>[[ result.data ]]</td>
                  <td class="p-0">
                    <div class="btn-group">
                      <button class="btn-sm btn" type="button" data-reference="parent" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i data-feather="more-horizontal"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" @click="edit_data(result.id)"> <i data-feather="edit-1"></i>Edit</a>
                        <a class="dropdown-item" @click="delete_data(result.id)"><i data-feather="trash"></i>Delete</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Export</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <p v-if="error">{{ error }}</p>
        </div>
      </div>
      <div v-if="loading" class="overlay" style="color:343a40;">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}


<script src="{{ url_for('static',  filename='assets/js/table.js')}}"></script>

<script>
  // const url = "https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC,ETH&tsyms=USD,EUR";
  const api = "{{ url_for('api_blueprint.input_api', _external=True) }}";

  const vm = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      loading: true,
      results: [],
      error: "",
      selected: []
    },
    computed: {
      selectAll: {
        get: function () {
          if (this.results && this.results.length > 0) {
            let allChecked = true;

            for (const result of this.results) {
              if (!this.selected.includes(result.id)) {
                allChecked = false;
              }

              if (!allChecked) break;
            }
            return allChecked;
          }

          return false;
        },
        set: function (value) {
          var selected = [];

          if (value) {
            this.results.forEach(function (result) {
              selected.push(result.id);
            });
          }

          this.selected = selected;
        }
      }
    },
    created: function () {
      this.load_data();
    },
    mounted: function () {

    },
    methods: {
      load_data: function () {
        this.loading = true;
        axios
          .get(api)
          .then(res => {
            this.results = res.data;
            console.log('data loaded..')
            this.loading = false;
        });

      },
      edit_data: function (e) {
        const id = e;
        const url = "{{ url_for('admin_blueprint.inputs') }}/edit/" + id;
        window.location.href = url;
      },
      delete_data: function (e) {
        const id = e;
        axios.delete(api + '/' + id);
        this.load_data();
        window.location.href = "{{ url_for('admin_blueprint.inputs') }}";
      }
    }
  });
</script>

{% endblock javascripts %}