{% extends 'layouts/layout-base.html' %}


{% block title %} Add Output Variable {% endblock title %}
{% block contentheader %}Add Output Variable{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}
{% block tools %}
{% endblock tools %}

{% block content %}

<!-- Hoverable rows start -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="form-group">
                        <label for="idText">ID</label>
                        <input type="number" class="form-control" disabled name="idText" id="idText" v-model="id"
                            placeholder="Identifier (auto)">
                    </div>
                    <div class="form-group">
                        <label for="TitleText">Title</label>
                        <input type="text" class="form-control" name="TitleText" id="TitleText" v-model="text"
                            placeholder="Text">
                    </div>
                    <div class="form-group">
                        <label for="DescText">Description</label>
                        <input type="text" class="form-control" name="DescText" id="DescText" v-model="desc"
                            placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label for="DataText">Data</label>
                        <input type="text" class="form-control" name="DataText" id="DataText" v-model="data"
                            placeholder="Data">
                    </div>
                    
                    <a class="btn btn-primary text-light"  @click="submit" role="button">Tambah</a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
    const url = "{{ url_for('api_blueprint.output_api', _external=True) }}";

    const vm = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            results: [],
            id: '',
            desc: '',
            data: '',
            text: ''
        },
        watch: {
            id: function (val) {
                if (val == "") {
                    $('#idText').removeClass('is-valid');
                    $('#idText').addClass('is-invalid');
                    return;
                }

                let data;
                axios.get(url + '/' + val).then(
                    function (response) {
                        data = response.data;
                        if (data.id == '-1') {
                            $('#idText').addClass('is-valid');
                            $('#idText').removeClass('is-invalid');
                            return true;
                        } else {
                            $('#idText').removeClass('is-valid');
                            $('#idText').addClass('is-invalid');
                            return false;
                        }
                    }
                )
            }
        },
        methods: {
            submit: function () {
                 
                data = {
                    "data": this.data,
                    "desc": this.desc,
                    "text": this.text
                };
                axios.post(url, data)
                window.location.href = "{{url_for('admin_blueprint.outputs')}}";
            }
        }

    });
</script>

{% endblock javascripts %}