<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/adminlte.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/datatables.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/vue.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/axios.min.js') }}"></script> 
<script>
  feather.replace()
</script>